<!--<!DOCTYPE html>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewpoint" content="width=device-width; initial-scale=1" />
	<title>泛在学习环境评价系统</title>
	<link rel="icon" href="__IMAGE__/county/schoolevaluation/icon.png"/>
	<link type="text/css" rel="stylesheet" href="__CSS__/county/base.css" />
	<link type="text/css" rel="stylesheet" href="__CSS__/jquery.treeview.css" />
	<link type="text/css" rel="stylesheet" href="__CSS__/county/school.css" />
	<script src="__JS__/jquery1.8.2.min.js"></script>
	<script type="text/javascript" src="__JS__/trimpath.js"></script>
	<script type="text/javascript" src="__JS__/paging.js"> </script>
    <script type="text/javascript" src="__JS__/jquery.treeview.js"></script>
    <!--<script type="text/javascript" src="__JS__/lib/highcharts.js"></script>-->
    <!--<script type="text/javascript" src="__JS__/lib/highcharts-more.js"></script>-->
	<script type="text/javascript" src="__JS__/lib/trimpath.js"></script>
	<script type="text/javascript" src="__JS__/lib/paging.js"></script>
	<script type="text/javascript" src="__JS__/county/echarts.js"></script>
	<link type="text/css" rel="stylesheet" href="__CSS__/county/downtable.css" />
	<script src="__JS__/jquery.cookie.js"></script>
	<script>
		var standard_json = "__JSON__/county/standard.json";
		var demo_json="__JSON__/demo.json";
		var getUserInforUrl = "{:U('County/getUserInfor')}";
//		var getAranNameUrl = "{:U('County/getAranName')}";
	</script>

</head>
<body>
	<div class="header">泛在学习环境评价系统</div>
	<div id="school_container">
		<div id="floatNavStandard">
			<include file="Common:countyNavigation"/>
		</div>
		<div style="height:1px"></div>
		<div class="areaSchoolList">
			<!--雷达图-->
			<div id="top">
				<div id="total_sit"></div>
				<div id="rador"></div>
				<div class="school_title"></div>
			</div>
			<!--表-->
			<div id="bottom">
				<div id="typical_std"></div>
				<div id="assetment_box"></div>
			</div>

		</div>
	</div>
	<div class="clear"></div>
	<div id="footer">
		<include file="Common:footer"/>
	</div>
	<textarea id="assetment_template" style="display: none">
		<table id="tb_box">
			<caption>
				<h2>具体指标评价结果</h2>
			</caption>
			<tr>
				<td class="title">一级指标</td>
				<td class="column_tb">
					<table class="title rank2_tb">
						<tr>
							<td class="column_rank2">二级指标</td>
							<td class="assessment">三级指标</td>
							<!--<td class="weight_3">权重</td>-->
							<td class="column_rank2">得　　分</td>
						</tr>
					</table>
				</td>
			</tr>
			{for p in list.tb}
			<tr>
				<td class="column_rank1" section_id="${p.section_id}" weight_1="${p.weight_1}">${p.rank1}</td>
				<td class="column_tb">
					{for t in p.reg_tb}
					<table class="rank2_tb">
						<tr>
							<td class="column_rank2"   rank2_id = "${t.id}" weight_2 = ${t.weight_2}>${t.rank2}</td>
							<td class="assessment" >
								<ul>
									{for i in t.detail_tb}
									<li>${i.detail_id}.${i.detail}</li>
									{/for}
								</ul>
							</td>
							<td class="assessment" style="width: 160px;">
								<ul>
									{for i in t.detail_tb}
									<li style="text-align: center;" class="table_score"></li>
									{/for}
								</ul>
							</td>
						</tr>
					</table>
					{/for}
				</td>
			</tr>
			{/for}
		</table>
	</textarea>
	
</body>
</html>

<script src="__JS__/county/rador.js"></script>
<script src="__JS__/county/downtable.js"></script>